<a href="https://colab.research.google.com/github/mdjasimuddim/DataScience/blob/main/PandasDataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Import Library
import pandas as pd

In [ ]:
#Empty of 
df = pd.DataFrame()

In [ ]:
df

Empty DataFrame
Columns: []
Index: []

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 0 entries
Empty DataFrame

In [ ]:
city = ['Dhaka', 'Rajshahi', 'ChapaiNawabganj']

In [ ]:
df = pd.DataFrame(city)

In [ ]:
df

                 0
0            Dhaka
1         Rajshahi
2  ChapaiNawabganj

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
type(city)

list

In [ ]:
df.shape

(3, 1)

In [ ]:
row, col = df.shape

In [ ]:
row

3

In [ ]:
col

1

In [ ]:
df = pd.DataFrame(city, columns = ['City_in_Europe'])

In [ ]:
df.head()

    City_in_Europe
0            Dhaka
1         Rajshahi
2  ChapaiNawabganj

In [ ]:
df = pd.DataFrame(city, columns = ['City_in_Bangladesh'], index = ['c1', 'c2', 'c3'])

In [ ]:
df.head()

   City_in_Bangladesh
c1              Dhaka
c2           Rajshahi
c3    ChapaiNawabganj

In [ ]:
city2 = ['Syhlet', 'Barisal','Manikganj']

In [ ]:
df2 = pd.DataFrame(zip(city, city2), columns = ['city1', 'city2'])

In [ ]:
df2.head()

             city1      city2
0            Dhaka     Syhlet
1         Rajshahi    Barisal
2  ChapaiNawabganj  Manikganj

In [ ]:
df2.shape

(3, 2)

In [ ]:
city3 = [['Kalinagar', 'Ramchandopur'], ['SadurMor', 'SagorPara']]
df4  = pd.DataFrame(city3)

In [ ]:
df4

           0             1
0  Kalinagar  Ramchandopur
1   SadurMor     SagorPara

In [ ]:
dict1 = {
    'city1':city,
    'city2':city2
}

In [ ]:
df5 = pd.DataFrame(dict1)

In [ ]:
df5

             city1      city2
0            Dhaka     Syhlet
1         Rajshahi    Barisal
2  ChapaiNawabganj  Manikganj

In [ ]:
df5.city1

0              Dhaka
1           Rajshahi
2    ChapaiNawabganj
Name: city1, dtype: object

In [ ]:
df.values

array([['Dhaka'],
       ['Rajshahi'],
       ['ChapaiNawabganj']], dtype=object)

In [ ]:
df.columns

Index(['City_in_Bangladesh'], dtype='object')

In [ ]:
df5.city1.sort_values()

2    ChapaiNawabganj
0              Dhaka
1           Rajshahi
Name: city1, dtype: object

In [ ]:
df5.sort_values('city1', ascending = True)

             city1      city2
2  ChapaiNawabganj  Manikganj
0            Dhaka     Syhlet
1         Rajshahi    Barisal

In [ ]:
df5.describe()

        city1   city2
count       3       3
unique      3       3
top     Dhaka  Syhlet
freq        1       1

In [ ]:
#corelation
df5.corr()

<ipython-input-41-695fce5f53c6>:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df5.corr()

Empty DataFrame
Columns: []
Index: []